# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
**/.vs/
**/bin/
**/obj/
*.pdb
*.csproj.user
/WebTimeSheetManagement/bin/*.dll
/WebTimeSheetManagement/obj/Debug/*.dll
/WebTimeSheetManagement/obj/Debug/*.pdb
/WebTimeSheetManagement/bin/*.pdb

/WebTimeSheetManagement.Concrete/bin/Debug/*.dll
/WebTimeSheetManagement.Concrete/bin/Debug/*.pdb
/WebTimeSheetManagement.Concrete/obj/Debug/*.dll
/WebTimeSheetManagement.Concrete/obj/Debug/*.pdb
/WebTimeSheetManagement/bin/WebTimeSheetManagement.Interface.dll
/WebTimeSheetManagement/bin/WebTimeSheetManagement.Interface.pdb
/WebTimeSheetManagement/bin/WebTimeSheetManagement.Models.dll
/WebTimeSheetManagement/bin/WebTimeSheetManagement.Models.pdb
/WebTimeSheetManagement/obj/Debug/WebTimeSheetManagement.csproj.FileListAbsolute.txt
/WebTimeSheetManagement.Concrete/bin/Debug/WebTimeSheetManagement.Interface.dll
/WebTimeSheetManagement.Concrete/bin/Debug/WebTimeSheetManagement.Interface.pdb
/WebTimeSheetManagement.Concrete/bin/Debug/WebTimeSheetManagement.Models.dll
/WebTimeSheetManagement.Concrete/bin/Debug/WebTimeSheetManagement.Models.pdb
/WebTimeSheetManagement.Interface/bin/Debug/WebTimeSheetManagement.Interface.dll
/WebTimeSheetManagement.Interface/bin/Debug/WebTimeSheetManagement.Interface.pdb
/WebTimeSheetManagement.Interface/bin/Debug/WebTimeSheetManagement.Models.dll
/WebTimeSheetManagement.Interface/bin/Debug/WebTimeSheetManagement.Models.pdb
/WebTimeSheetManagement.Interface/obj/Debug/WebTimeSheetManagement.Interface.csproj.AssemblyReference.cache
/WebTimeSheetManagement.Models/bin/Debug/WebTimeSheetManagement.Models.dll
/WebTimeSheetManagement.Models/bin/Debug/WebTimeSheetManagement.Models.pdb
/WebTimeSheetManagement.Models/obj/Debug/WebTimeSheetManagement.Models.dll
/WebTimeSheetManagement.Models/obj/Debug/WebTimeSheetManagement.Models.pdb
/WebTimeSheetManagement.Interface/obj/Debug/WebTimeSheetManagement.Interface.dll
/WebTimeSheetManagement.Interface/obj/Debug/WebTimeSheetManagement.Interface.pdb
/WebTimeSheetManagement/WebTimeSheetManagement.csproj.user
/WebTimeSheetManagement.Concrete/obj/Release/WebTimeSheetManagement.Concrete.csproj.FileListAbsolute.txt
/WebTimeSheetManagement.Concrete/obj/Release/WebTimeSheetManagement.Concrete.dll
/WebTimeSheetManagement.Concrete/obj/Release/WebTimeSheetManagement.Concrete.pdb
/WebTimeSheetManagement.Interface/bin/Release/WebTimeSheetManagement.Interface.dll
/WebTimeSheetManagement.Interface/bin/Release/WebTimeSheetManagement.Interface.pdb
/WebTimeSheetManagement.Interface/bin/Release/WebTimeSheetManagement.Models.dll
/WebTimeSheetManagement.Interface/bin/Release/WebTimeSheetManagement.Models.pdb
/WebTimeSheetManagement.Interface/obj/Release/WebTimeSheetManagement.Interface.csproj.FileListAbsolute.txt
/WebTimeSheetManagement.Interface/obj/Release/WebTimeSheetManagement.Interface.dll
/WebTimeSheetManagement.Interface/obj/Release/WebTimeSheetManagement.Interface.pdb
/WebTimeSheetManagement.Models/bin/Release/WebTimeSheetManagement.Models.dll
/WebTimeSheetManagement.Models/bin/Release/WebTimeSheetManagement.Models.pdb
/WebTimeSheetManagement.Models/obj/Release/WebTimeSheetManagement.Models.csproj.FileListAbsolute.txt
/WebTimeSheetManagement.Models/obj/Release/WebTimeSheetManagement.Models.dll
/WebTimeSheetManagement.Models/obj/Release/WebTimeSheetManagement.Models.pdb
/WebTimeSheetManagement/obj/Release/WebTimeSheetManagement.csproj.FileListAbsolute.txt
/WebTimeSheetManagement/obj/Release/WebTimeSheetManagement.dll
/WebTimeSheetManagement/obj/Release/WebTimeSheetManagement.pdb
/WebTimeSheetManagement/bin/Dapper.dll
/WebTimeSheetManagement/bin/Dapper.xml
/WebTimeSheetManagement/bin/EntityFramework.SqlServer.dll
/WebTimeSheetManagement/bin/EntityFramework.SqlServer.xml
/WebTimeSheetManagement/bin/EntityFramework.dll
/WebTimeSheetManagement/bin/EntityFramework.xml
/WebTimeSheetManagement/bin/System.Linq.Dynamic.dll
