# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
/.vs
/WebTimeSheetManagement.Models/.vs

/bin
/WebTimeSheetManagement/bin
/WebTimeSheetManagement.Models/bin
/WebTimeSheetManagement.Concrete/bin
/WebTimeSheetManagement.Interfaces/bin


/WebTimeSheetManagement/obj
/WebTimeSheetManagement.Models/obj
/WebTimeSheetManagement.Concrete/obj
/WebTimeSheetManagement.Interfaces/obj
