USE [master]
GO
/****** Object:  Database [TimesheetDB]    Script Date: 05/19/2018 09:45:06 ******/
CREATE DATABASE [TimesheetDB] ON  PRIMARY 
( NAME = N'TimesheetDB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TimesheetDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TimesheetDB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TimesheetDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TimesheetDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TimesheetDB]
GO
/****** Object:  Table [dbo].[TimeSheetMaster]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeSheetMaster](
	[TimeSheetMasterID] [int] IDENTITY(1,1) NOT NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[TotalHours] [int] NULL,
	[UserID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[Comment] [varchar](100) NULL,
	[TimeSheetStatus] [int] NULL,
 CONSTRAINT [PK_TimeSheetMaster] PRIMARY KEY CLUSTERED 
(
	[TimeSheetMasterID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TimeSheetDetails]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeSheetDetails](
	[TimeSheetID] [int] IDENTITY(1,1) NOT NULL,
	[DaysofWeek] [varchar](50) NULL,
	[Hours] [int] NULL,
	[Period] [date] NULL,
	[ProjectID] [int] NULL,
	[UserID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[TimeSheetMasterID] [int] NULL,
	[TotalHours] [int] NULL,
 CONSTRAINT [PK_TimeSheetDetails] PRIMARY KEY CLUSTERED 
(
	[TimeSheetID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[TimeSheetAuditTB]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeSheetAuditTB](
	[ApprovalTimeSheetLogID] [int] IDENTITY(1,1) NOT NULL,
	[ApprovalUser] [int] NULL,
	[ProcessedDate] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
	[Comment] [varchar](100) NULL,
	[Status] [int] NULL,
	[TimeSheetID] [int] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_TimeSheetAuditTB] PRIMARY KEY CLUSTERED 
(
	[ApprovalTimeSheetLogID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Roles]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Rolename] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT [dbo].[Roles] ([RoleID], [Rolename]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [Rolename]) VALUES (2, N'Users')
INSERT [dbo].[Roles] ([RoleID], [Rolename]) VALUES (3, N'SuperAdmin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
/****** Object:  Table [dbo].[Registration]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Registration](
	[RegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Mobileno] [varchar](20) NULL,
	[EmailID] [varchar](100) NULL,
	[Username] [varchar](20) NULL,
	[Password] [varchar](100) NULL,
	[ConfirmPassword] [varchar](100) NULL,
	[Gender] [varchar](10) NULL,
	[Birthdate] [datetime] NULL,
	[RoleID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[EmployeeID] [varchar](10) NULL,
	[DateofJoining] [date] NULL,
	[ForceChangePassword] [int] NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Registration] ON
INSERT [dbo].[Registration] ([RegistrationID], [Name], [Mobileno], [EmailID], [Username], [Password], [ConfirmPassword], [Gender], [Birthdate], [RoleID], [CreatedOn], [EmployeeID], [DateofJoining], [ForceChangePassword]) VALUES (1, N'SuperAdmin', N'1235551234', N'SuperAdmin@testdomain.com', N'SuperAdmin', N'EcMeUuVrv6U89Ul/imhLmw==', N'EcMeUuVrv6U89Ul/imhLmw==', N'M', CAST(0x0000816500000000 AS DateTime), 3, CAST(0x0000A7E300AFA2EB AS DateTime), N'EMP1', NULL, NULL)
INSERT [dbo].[Registration] ([RegistrationID], [Name], [Mobileno], [EmailID], [Username], [Password], [ConfirmPassword], [Gender], [Birthdate], [RoleID], [CreatedOn], [EmployeeID], [DateofJoining], [ForceChangePassword]) VALUES (2, N'Admin', N'1235551234', N'Admin@testdomain.com', N'Admin', N'EcMeUuVrv6U89Ul/imhLmw==', N'EcMeUuVrv6U89Ul/imhLmw==', N'M', CAST(0x0000816400000000 AS DateTime), 1, CAST(0x0000A7D800B7A919 AS DateTime), N'EMP2', NULL, NULL)
INSERT [dbo].[Registration] ([RegistrationID], [Name], [Mobileno], [EmailID], [Username], [Password], [ConfirmPassword], [Gender], [Birthdate], [RoleID], [CreatedOn], [EmployeeID], [DateofJoining], [ForceChangePassword]) VALUES (47, N'Demo User', N'1235551234', N'demouser@testdomain.com', N'demouser', N'EcMeUuVrv6U89Ul/imhLmw==', N'EcMeUuVrv6U89Ul/imhLmw==', N'M', NULL, 2, CAST(0x0000A80E01878EB6 AS DateTime), N'EMP3', CAST(0x253E0B00 AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Registration] OFF
/****** Object:  Table [dbo].[ProjectMaster]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProjectMaster](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [varchar](100) NULL,
	[NatureofIndustry] [varchar](100) NULL,
	[ProjectCode] [varchar](10) NULL,
 CONSTRAINT [PK_ProjectMaster] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NotificationsTB]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NotificationsTB](
	[NotificationsID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](50) NULL,
	[Message] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
 CONSTRAINT [PK_NotificationsTB] PRIMARY KEY CLUSTERED 
(
	[NotificationsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExpenseAuditTB]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExpenseAuditTB](
	[ApprovaExpenselLogID] [int] IDENTITY(1,1) NOT NULL,
	[ApprovalUser] [int] NULL,
	[ProcessedDate] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
	[Comment] [varchar](100) NULL,
	[Status] [int] NULL,
	[ExpenseID] [int] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_ExpenseAuditTB] PRIMARY KEY CLUSTERED 
(
	[ApprovaExpenselLogID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Expense]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Expense](
	[ExpenseID] [int] IDENTITY(1,1) NOT NULL,
	[PurposeorReason] [varchar](50) NULL,
	[ExpenseStatus] [int] NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[VoucherID] [varchar](50) NULL,
	[HotelBills] [int] NULL,
	[TravelBills] [int] NULL,
	[MealsBills] [int] NULL,
	[LandLineBills] [int] NULL,
	[TransportBills] [int] NULL,
	[MobileBills] [int] NULL,
	[Miscellaneous] [int] NULL,
	[TotalAmount] [int] NULL,
	[UserID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[Comment] [varchar](100) NULL,
	[ProjectID] [int] NULL,
 CONSTRAINT [PK_Expense] PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ELMAH_Error]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ELMAH_Error](
	[ErrorId] [uniqueidentifier] NOT NULL,
	[Application] [nvarchar](60) NOT NULL,
	[Host] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[Source] [nvarchar](60) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[User] [nvarchar](50) NOT NULL,
	[StatusCode] [int] NOT NULL,
	[TimeUtc] [datetime] NOT NULL,
	[Sequence] [int] IDENTITY(1,1) NOT NULL,
	[AllXml] [ntext] NOT NULL,
 CONSTRAINT [PK_ELMAH_Error] PRIMARY KEY NONCLUSTERED 
(
	[ErrorId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ELMAH_Error_App_Time_Seq] ON [dbo].[ELMAH_Error] 
(
	[Application] ASC,
	[TimeUtc] DESC,
	[Sequence] DESC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Documents]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Documents](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentName] [varchar](50) NULL,
	[DocumentBytes] [varbinary](max) NULL,
	[UserID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[ExpenseID] [int] NULL,
	[DocumentType] [varchar](10) NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DescriptionTB]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DescriptionTB](
	[DescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](100) NULL,
	[ProjectID] [int] NULL,
	[TimeSheetMasterID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_DescriptionTB] PRIMARY KEY CLUSTERED 
(
	[DescriptionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AuditTB]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AuditTB](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NULL,
	[SessionID] [varchar](50) NULL,
	[IPAddress] [varchar](50) NULL,
	[PageAccessed] [varchar](200) NULL,
	[LoggedInAt] [datetime] NULL,
	[LoggedOutAt] [datetime] NULL,
	[LoginStatus] [varchar](200) NULL,
	[ControllerName] [varchar](200) NULL,
	[ActionName] [varchar](200) NULL,
	[UrlReferrer] [varchar](200) NULL,
 CONSTRAINT [PK_AuditTB] PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[AssignedRoles]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AssignedRoles](
	[AssignedRolesID] [int] IDENTITY(1,1) NOT NULL,
	[AssignToAdmin] [int] NULL,
	[Status] [varchar](1) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[RegistrationID] [int] NULL,
 CONSTRAINT [PK_AssignedRoles] PRIMARY KEY CLUSTERED 
(
	[AssignedRolesID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'It is Registration Table  RegistrationID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssignedRoles'
GO

/****** Object:  StoredProcedure [dbo].[Usp_CheckIsDateAlreadyUsed_New]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_CheckIsDateAlreadyUsed_New]
@FromDate datetime,
@ToDate datetime,
@UserID int
as
begin

SELECT COUNT(1)
  FROM [TimesheetDB].[dbo].[TimeSheet_New]
  where ToDateTime between @FromDate and @ToDate and UserID =@UserID
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_CheckIsDateAlreadyUsed]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_CheckIsDateAlreadyUsed]
@FromDate date,
@ToDate date,
@UserID int
as
begin

SELECT COUNT(1)
  FROM [TimesheetDB].[dbo].[Expense]
  where ToDate between @FromDate and @ToDate and UserID =@UserID
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_ChangeTimesheetStatus]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_ChangeTimesheetStatus]
@Status int,
@TimeSheetID int,
@Comment varchar(100)
as
begin
Update dbo.TimeSheetAuditTB
set 
Status = @Status,
Comment = @Comment,
ProcessedDate =getdate()
where TimeSheetID = @TimeSheetID and Status <> 1
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_ChangeExpenseStatus]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_ChangeExpenseStatus]
@Status int,
@ExpenseID int,
@Comment varchar(100)
as
begin
Update dbo.ExpenseAuditTB
set 
Status = @Status,
Comment = @Comment,
ProcessedDate =getdate()
where ExpenseID = @ExpenseID and Status <> 1
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateUserRole]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_UpdateUserRole]  
@RegistrationID int  
as      
begin      
Delete from AssignedRoles where RegistrationID = @RegistrationID  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateTimeSheetStatus]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_UpdateTimeSheetStatus]  
@TimeSheetMasterID int,  
@Comment varchar(100),  
@TimeSheetStatus int  
as  
begin  
update TimeSheetMaster  
set TimeSheetMaster.TimeSheetStatus =@TimeSheetStatus,  
TimeSheetMaster.Comment =@Comment  
where TimeSheetMaster.TimeSheetMasterID =@TimeSheetMasterID  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdatePasswordbyRegistrationID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_UpdatePasswordbyRegistrationID]
@RegistrationID int,
@Password varchar(100)
as
begin
Update Registration
set Registration.Password = @Password
where Registration.RegistrationID =@RegistrationID
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_Updatepassword]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_Updatepassword]
@NewPassword varchar(100),
@UserID int
as
begin

update Registration 
set Password = @NewPassword
where Registration.RegistrationID = @UserID  
  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateExpenseStatus]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_UpdateExpenseStatus]
@ExpenseID int,
@Comment varchar(100),
@ExpenseStatus int
as
begin
update Expense
set Expense.ExpenseStatus =@ExpenseStatus,
Expense.Comment =@Comment
where Expense.ExpenseID =@ExpenseID
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetWeekTimeSheetDetails]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetWeekTimeSheetDetails]
@TimeSheetMasterID int
as
begin
select TM.DaysofWeek
      ,TM.Hours
      ,TM.Period
      ,PM.ProjectName
      ,TM.CreatedOn
      from TimeSheetDetails TM
Inner join ProjectMaster PM on TM.ProjectID = PM.ProjectID 
where TimeSheetMasterID = @TimeSheetMasterID
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUsersCountbyAdminByAdminID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetUsersCountbyAdminByAdminID] 
@AdminID int 
as
begin
 select ApprovalUser,
    count(case when Status = 1 then 1 else NULL end) SubmittedCount,
    count(case when Status = 2 then 1 else NULL end) ApprovedCount,
    count(case when Status = 3 then 1 else NULL end) RejectedCount
from TimeSheetAuditTB
where ApprovalUser = @AdminID 
group by ApprovalUser
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUsersCountbyAdmin]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_GetUsersCountbyAdmin]
@AdminID int 
as
begin
Select Count (1) as UsersCount FROM AssignedRoles where AssignToAdmin =@AdminID  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUsersCount]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_GetUsersCount]
as
begin
Select Count (1) as UsersCount FROM [TimesheetDB].[dbo].[Registration]where RoleID =2
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUsernamebyRegistrationID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetUsernamebyRegistrationID]  
@RegistrationID int  
as  
begin  
SELECT   replace(Name, ' ', '')
FROM Registration  
where RegistrationID =@RegistrationID 
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUserDetailsByRegistrationID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_GetUserDetailsByRegistrationID]
@RegistrationID int
as
begin
select
EmployeeID,  
Name,
Mobileno,
EmailID,
Username,
Case when Gender ='M' then 'Male'  when Gender ='F' then 'Female' End Gender,
CONVERT(VARCHAR(10), Birthdate, 101) as Birthdate,
CONVERT(VARCHAR(10), DateofJoining, 101) as DateofJoining
from Registration where RoleID =2 and RegistrationID =@RegistrationID
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetTimeSheetsCountByUserID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetTimeSheetsCountByUserID]   
@UserID int   
as  
begin  
 select UserID,  
    count(case when Status = 1 then 1 else NULL end) SubmittedCount,  
    count(case when Status = 2 then 1 else NULL end) ApprovedCount,  
    count(case when Status = 3 then 1 else NULL end) RejectedCount  
from TimeSheetAuditTB 
where UserID = @UserID   
group by UserID  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetTimeSheetsCountByAdminID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetTimeSheetsCountByAdminID] 
@AdminID int 
as
begin
 select ApprovalUser,
    count(case when Status = 1 then 1 else NULL end) SubmittedCount,
    count(case when Status = 2 then 1 else NULL end) ApprovedCount,
    count(case when Status = 3 then 1 else NULL end) RejectedCount
from TimeSheetAuditTB
where ApprovalUser = @AdminID 
group by ApprovalUser
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetTimeSheetMasterIDTimeSheet]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetTimeSheetMasterIDTimeSheet]  
@FromDate Date = null,  
@ToDate Date  = null,  
@UserID int  
as  
begin  
  

SELECT [TimeSheetMasterID]  
FROM [TimesheetDB].[dbo].[TimeSheetMaster]  
where FromDate  between @FromDate and @ToDate and UserID = @UserID  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetTimeSheetbyFromDateandToDateTimeSheet]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetTimeSheetbyFromDateandToDateTimeSheet]  
@FromDate date = null,  
@ToDate date  = null
as  
begin  
  
SELECT [TimeSheetMasterID]  
FROM [TimesheetDB].[dbo].[TimeSheetMaster]  
where FromDate  between @FromDate and @ToDate 
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetReportofExpense]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetReportofExpense]    
@FromDate date = null,      
@ToDate date  = null,  
@AssignTo int        
as    
begin    
    
SELECT     
       PM.ProjectName           
      ,[PurposeorReason]    
      ,Reg.Name    
      ,case when ExpenseStatus =1 then 'Submitted' when ExpenseStatus =2 then 'Approved' when ExpenseStatus =3 then 'Rejected' end as Status    
      ,EA.Comment as Comment   
      ,[FromDate]    
      ,[ToDate]    
      ,[VoucherID]    
      ,[HotelBills]    
      ,[TravelBills]    
      ,[MealsBills]    
      ,[LandLineBills]    
      ,[TransportBills]    
      ,[MobileBills]    
      ,[Miscellaneous]    
      ,[TotalAmount]    
      ,ex.CreatedOn        
  FROM [TimesheetDB].[dbo].[Expense] ex    
  inner join Registration Reg on reg.RegistrationID = ex.UserID    
  inner join ProjectMaster PM on ex.ProjectID =PM.ProjectID 
  inner join AssignedRoles AR on reg.RegistrationID = AR.RegistrationID   
  inner join ExpenseAuditTB EA on ex.ExpenseID = EA.ExpenseID 
  where FromDate  between @FromDate and @ToDate and AR.AssignToAdmin =@AssignTo and EA.Status = 2      
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetProjectNamesbyTimeSheetMasterID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_GetProjectNamesbyTimeSheetMasterID]
@TimeSheetMasterID int
as
begin

  SELECT 
      TM.ProjectID,
      PM.ProjectName
  FROM [TimeSheetDetails] TM
  inner join ProjectMaster PM on TM.ProjectID =PM.ProjectID 
  where  TM.TimeSheetMasterID =@TimeSheetMasterID 
  group by TM.[ProjectID],PM.ProjectName
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetProjectCount]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_GetProjectCount]
as
begin
  Select Count (1) as ProjectCount FROM [TimesheetDB].[dbo].[ProjectMaster]
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetPeriodsbyTimeSheetMasterID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetPeriodsbyTimeSheetMasterID]      
@TimeSheetMasterID int      
as      
begin      
      
SELECT       
      CONVERT(varchar(10),T.Period) as Period    
  FROM [TimesheetDB].[dbo].[TimeSheetDetails] T       
  inner join TimeSheetAuditTB TA on T.TimeSheetMasterID = TA.TimeSheetID  
  where TimeSheetMasterID =@TimeSheetMasterID       
  group by Period      
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetListofUnAssignedUsers]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_GetListofUnAssignedUsers]      
      
as      
begin      
      
select * from dbo.Registration R       
where R.RoleID =2 and r.RegistrationID not in (
Select RegistrationID from dbo.AssignedRoles
)    
      
      
--RoleID Rolename      
--1 Admin      
--2 Users      
--3 SuperAdmin      
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetListofAdmins]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetListofAdmins]  
  
as  
begin  
select RegistrationID, UPPER(Name) as Name from Registration where RoleID = 1  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetHoursbyTimeSheetMasterID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetHoursbyTimeSheetMasterID]    
@TimeSheetMasterID int   ,
@ProjectID int 
as    
begin    
    
SELECT     
      Hours 
  FROM [TimeSheetDetails]     
  where TimeSheetMasterID =@TimeSheetMasterID and ProjectID =@ProjectID
  
  union all
  
  SELECT     
      SUM(Hours) 
  FROM [TimeSheetDetails]     
  where TimeSheetMasterID =@TimeSheetMasterID and ProjectID =@ProjectID 
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetExpenseAuditCountByUserID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_GetExpenseAuditCountByUserID]
@UserID int   
as  
begin  
 select UserID,  
    count(case when Status = 1 then 1 else NULL end) SubmittedCount,  
    count(case when Status = 2 then 1 else NULL end) ApprovedCount,  
    count(case when Status = 3 then 1 else NULL end) RejectedCount  
from ExpenseAuditTB  
where UserID = @UserID   
group by UserID  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetExpenseAuditCountByAdminID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_GetExpenseAuditCountByAdminID] 
@AdminID int 
as
begin
 select ApprovalUser,
    count(case when Status = 1 then 1 else NULL end) SubmittedCount,
    count(case when Status = 2 then 1 else NULL end) ApprovedCount,
    count(case when Status = 3 then 1 else NULL end) RejectedCount
from ExpenseAuditTB
where ApprovalUser = @AdminID 
group by ApprovalUser
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAllReportofExpense]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetAllReportofExpense]    
@FromDate date = null,      
@ToDate date  = null
  
as    
begin    
    
SELECT     
       PM.ProjectName           
      ,[PurposeorReason]    
      ,Reg.Name    
      ,case when ExpenseStatus =1 then 'Submitted' when ExpenseStatus =2 then 'Approved' when ExpenseStatus =3 then 'Rejected' end as Status    
      ,[Comment]    
      ,[FromDate]    
      ,[ToDate]    
      ,[VoucherID]    
      ,[HotelBills]    
      ,[TravelBills]    
      ,[MealsBills]    
      ,[LandLineBills]    
      ,[TransportBills]    
      ,[MobileBills]    
      ,[Miscellaneous]    
      ,[TotalAmount]    
      ,ex.CreatedOn        
  FROM [TimesheetDB].[dbo].[Expense] ex    
  inner join Registration Reg on reg.RegistrationID = ex.UserID    
  inner join ProjectMaster PM on ex.ProjectID =PM.ProjectID    
  where FromDate  between @FromDate and @ToDate  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAdminIDbyUserID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Usp_GetAdminIDbyUserID]
@UserID int
as
begin
SELECT 
      [AssignToAdmin]
  FROM [TimesheetDB].[dbo].[AssignedRoles] where RegistrationID = @UserID
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAdminDetailsByRegistrationID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_GetAdminDetailsByRegistrationID]  
@RegistrationID int  
as  
begin  
select  
EmployeeID,    
Name,  
Mobileno,  
EmailID,  
Username,  
Case when Gender ='M' then 'Male'  when Gender ='F' then 'Female' End Gender,  
CONVERT(VARCHAR(10), Birthdate, 101) as Birthdate,  
CONVERT(VARCHAR(10), DateofJoining, 101) as DateofJoining  
from Registration where RoleID =1 and RegistrationID =@RegistrationID  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAdminCount]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_GetAdminCount]
as
begin
Select Count (1) as AdminCount FROM [TimesheetDB].[dbo].[Registration] where RoleID =1
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_DisableExistingNotifications]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Usp_DisableExistingNotifications]
as
begin

update NotificationsTB
set NotificationsTB.Status ='D'

end
GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteTimeSheet]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_DeleteTimeSheet]
@TimeSheetID int,
@UserID int
as
begin

Delete from TimeSheetMaster where TimeSheetMasterID =@TimeSheetID and UserID =@UserID

if exists (select top 1 TimeSheetId from dbo.TimeSheetDetails where TimeSheetMasterID =@TimeSheetID and UserID =@UserID)
begin
Delete from TimeSheetDetails where TimeSheetMasterID =@TimeSheetID and UserID =@UserID
end

if exists (select top 1 TimeSheetId from dbo.TimeSheetAuditTB where TimeSheetID =@TimeSheetID and UserID =@UserID)
begin
Delete from TimeSheetAuditTB where TimeSheetID =@TimeSheetID and UserID =@UserID
end

end
GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteExpenseandDocuments]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_DeleteExpenseandDocuments]  
@ExpenseID int ,
@UserID int 
as  
begin  
Delete from Expense where ExpenseID =@ExpenseID and UserID =@UserID  
  
if exists (select DocumentID from dbo.Documents where ExpenseID =@ExpenseID and UserID =@UserID )  
begin  
Delete from Documents where ExpenseID =@ExpenseID and UserID =@UserID  
end  
  
if exists (select ApprovaExpenselLogID from dbo.ExpenseAuditTB where ExpenseID =@ExpenseID and UserID =@UserID)  
begin  
Delete from ExpenseAuditTB where ExpenseID =@ExpenseID and UserID =@UserID  
end  
  
  
end
GO
/****** Object:  StoredProcedure [dbo].[ELMAH_LogError]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELMAH_LogError]
(
    @ErrorId UNIQUEIDENTIFIER,
    @Application NVARCHAR(60),
    @Host NVARCHAR(30),
    @Type NVARCHAR(100),
    @Source NVARCHAR(60),
    @Message NVARCHAR(500),
    @User NVARCHAR(50),
    @AllXml NTEXT,
    @StatusCode INT,
    @TimeUtc DATETIME
)
AS

    SET NOCOUNT ON

    INSERT
    INTO
        [ELMAH_Error]
        (
            [ErrorId],
            [Application],
            [Host],
            [Type],
            [Source],
            [Message],
            [User],
            [AllXml],
            [StatusCode],
            [TimeUtc]
        )
    VALUES
        (
            @ErrorId,
            @Application,
            @Host,
            @Type,
            @Source,
            @Message,
            @User,
            @AllXml,
            @StatusCode,
            @TimeUtc
        )
GO
/****** Object:  StoredProcedure [dbo].[ELMAH_GetErrorXml]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELMAH_GetErrorXml]
(
    @Application NVARCHAR(60),
    @ErrorId UNIQUEIDENTIFIER
)
AS

    SET NOCOUNT ON

    SELECT 
        [AllXml]
    FROM 
        [ELMAH_Error]
    WHERE
        [ErrorId] = @ErrorId
    AND
        [Application] = @Application
GO
/****** Object:  StoredProcedure [dbo].[ELMAH_GetErrorsXml]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELMAH_GetErrorsXml]
(
    @Application NVARCHAR(60),
    @PageIndex INT = 0,
    @PageSize INT = 15,
    @TotalCount INT OUTPUT
)
AS 

    SET NOCOUNT ON

    DECLARE @FirstTimeUTC DATETIME
    DECLARE @FirstSequence INT
    DECLARE @StartRow INT
    DECLARE @StartRowIndex INT

    SELECT 
        @TotalCount = COUNT(1) 
    FROM 
        [ELMAH_Error]
    WHERE 
        [Application] = @Application

    -- Get the ID of the first error for the requested page

    SET @StartRowIndex = @PageIndex * @PageSize + 1

    IF @StartRowIndex <= @TotalCount
    BEGIN

        SET ROWCOUNT @StartRowIndex

        SELECT  
            @FirstTimeUTC = [TimeUtc],
            @FirstSequence = [Sequence]
        FROM 
            [ELMAH_Error]
        WHERE   
            [Application] = @Application
        ORDER BY 
            [TimeUtc] DESC, 
            [Sequence] DESC

    END
    ELSE
    BEGIN

        SET @PageSize = 0

    END

    -- Now set the row count to the requested page size and get
    -- all records below it for the pertaining application.

    SET ROWCOUNT @PageSize

    SELECT 
        errorId     = [ErrorId], 
        application = [Application],
        host        = [Host], 
        type        = [Type],
        source      = [Source],
        message     = [Message],
        [user]      = [User],
        statusCode  = [StatusCode], 
        time        = CONVERT(VARCHAR(50), [TimeUtc], 126) + 'Z'
    FROM 
        [ELMAH_Error] error
    WHERE
        [Application] = @Application
    AND
        [TimeUtc] <= @FirstTimeUTC
    AND 
        [Sequence] <= @FirstSequence
    ORDER BY
        [TimeUtc] DESC, 
        [Sequence] DESC
    FOR
        XML AUTO
GO
/****** Object:  StoredProcedure [dbo].[GetUserIDbyTimeSheetID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[GetUserIDbyTimeSheetID]
@TimeSheetMasterID int
as
begin
select top 1 UserID from TimeSheetMaster where TimeSheetMasterID =@TimeSheetMasterID
end
GO
/****** Object:  StoredProcedure [dbo].[GetUserIDbyExpenseID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Proc [dbo].[GetUserIDbyExpenseID]
@ExpenseID int
as
begin
select top 1 UserID from Expense where ExpenseID =@ExpenseID
end
GO
/****** Object:  StoredProcedure [dbo].[GetDescriptionbyTimeSheetMasterID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetDescriptionbyTimeSheetMasterID]      
@TimeSheetMasterID int   ,  
@ProjectID int   
as      
begin      

select Description from DescriptionTB where TimeSheetMasterID =@TimeSheetMasterID and ProjectID =@ProjectID  
end
GO
/****** Object:  Default [DF_ELMAH_Error_ErrorId]    Script Date: 05/19/2018 09:45:07 ******/
ALTER TABLE [dbo].[ELMAH_Error] ADD  CONSTRAINT [DF_ELMAH_Error_ErrorId]  DEFAULT (newid()) FOR [ErrorId]
GO
